<h2>Welcome to my OAuth2 Test Website</h2>

<p>This is an OAuth2 Demo Website for academic purposes.</p>

<p>You are at this page to access protected resources on your Google account.</p>

<p>Click the button to begin</p>
<br>

<!-- <form action="oauth2/authorize"> -->
	<!-- <input type="button" value="OAuth2 Demo" onclick="createSecret()"> -->
<!-- </form> -->

<!-- <button onclick="window.location.href='oauth2/authorize'">OAuth2 Demo</button> -->

<!-- <button onclick="window.location.href='https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=674504424599-j9snsc9vg8ccl70bj8r1vvv9tdluj6cq.apps.googleusercontent.com&redirect_uri=http://localhost:8080/oauth2/authorize&scope=email&state=sJhKhRHTV4QzcKSl3Mi-bFyC'">OAuth2 Demo</button> -->


<!-- <button onclick="window.location.href='https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=674504424599-j9snsc9vg8ccl70bj8r1vvv9tdluj6cq.apps.googleusercontent.com&redirect_uri=http://localhost:8080/oauth2/authorize&scope=email&state=sJhKhRHTV4QzcKSl3Mi-bFyC'">OAuth2 Demo</button> -->
<!-- sJhKhRHTV4QzcKSl3Mi-bFyC -->

<!-- <form action={{link}}> -->
	<!-- <input type="button" value="OAuth2 Demo"> -->
<!-- </form> -->

<button onclick="window.location.href='{{link}}'">OAuth2 Demo</button>